# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\INFORMATICS\Projects_Java_2\Streams\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
